.tokenHeader {
    display: flex;
    justify-content:space-between;
}
.tokenHeader h4 {
    color: grey;
}
.friendsList{
    overflow-x : scroll;
}
.friendsList ul {
    list-style: none;
    overflow-x: scroll;
    display: inline-block;
    height:155px;
    width: 100%;
    padding:0;
    white-space: nowrap;
    margin: 0;
}
.friendsList::-webkit-scrollbar {
    display: none;
}
.friendsList ul::-webkit-scrollbar {
    display: none;
}
.friendsList ul li{
    height:120px;
    width: 120px;
    background-color:rgb(247,250,251);
    display: inline-block;
    margin:5px;
    border-radius:5px;
}