.tokenHeader {
    display: flex;
    justify-content:space-between;
}
.tokenHeader h4 {
    color: grey;
}
.friendsList ul {
    list-style: none;
    overflow-x: scroll;
    display: inline-block;
    width:100%;
    height:120px;
    padding:0;
    white-space: nowrap;
}
.friendsList ul::-webkit-scrollbar {
    display: none;
}

.friendsList ul li{
    height:100%;
}