.header {
    width:360px;
    height:35px;
    padding:10px 0;
    display: flex;
    justify-content: space-between;
    position:fixed;
    background-color:white;
}
@media screen and (max-width:500px){
    .header {
        width:100vw !important;
    }
}
.hamburger {
    padding: 7.5px 0 7.5px 10px;
    width:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line {
    width:100%;
    height:2px;
    background-color:#000;
}
.mainlogo {
    width:50px;
    display: flex;
    justify-content: center;
}
.mainlogo img {
    margin: auto;
    width:50px;
}
.xbutton {
    padding-right: 10px;
    width:30px;
    display: flex;
    justify-content: center;
}
.xbutton img {
    margin: auto;
    width:16px;
}